.main{
    background-color: rgb(255,255,255) !important; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btnLogIn{
    color: white !important;
    background-color: #0866ff !important;
    font-size: 20px !important;
   font-weight: 100 !important;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.7) !important; 

}

.fp{
    color: #0866ff !important;
}

.hr{
    color: antiquewhite;
}

.btnCreateAccount{ color: white !important;
    background-color: rgb(61,175,38) !important;
    font-size: 15px !important;
   font-weight: 100 !important;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.7) !important; 
   text-transform:  lowercase !important;

}
.btnCreateAccount::first-letter {
    text-transform: capitalize ;
}
