.text {
    font-size: 90px;
    font-family: Helvetica, Arial, sans-serif;
    color: #1877F2;
}

.desc{
    font-size:30px;
  
}


.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    
}

.fb_logo{
    width: 400px;
    height: auto;
}

.desc{
    font-size: 30px;
    margin-top: 5px;
   margin-left: 45px;
}
